{% extends "base.html" %}

{% block title %}Food Track - Chackra Web{% endblock %}

{% block content %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Food Track - Home</h1>

  <div class="mb-4">
        <a href="{{ url_for('food_track.list_inventory_get') }}" class="btn btn-primary">
            <i class="fas fa-plus"></i>Items del Inventario
        </a>
        <a href="{{ url_for('food_track.to_buy_list_get') }}" class="btn btn-primary">
            <i class="fas fa-plus"></i>Listas de Compras
        </a>
    </div>
</div>
{% endblock %}